<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>
<body>

    {{pessoas.id}} - {{pessoas.nome}}

    <form action="{% url 'update' pessoas.id %}" method="POST">
        {% csrf_token %}
        <input type="text" name="nome" value="{{pessoas.nome}}">
        <button type="submit">Enviar</button>
    </form>

    
</body>
</html>